body{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

#header{
        text-align: center;
        padding-top: 0px;
        height: 650px;
    }

.rslides {
color: #fff;
position: relative;
list-style: none;
overflow: hidden;
width: 100%;
padding: 0;
margin: 0;
}


strong{
    font-weight: 700;
}

.rslides {
    width: 100%;
    display: block;
    position: relative;
}


.slide-content {
    text-align: center;
    padding-top: 1px;
    height: 650px;
}


.text-center {
    text-align: center !important;
}


.text-center-title{
    margin-top: 200px;
    font-size: 40px;
}

.text-center-light{
    font-size: 20px;
    line-height: 18px;
}

.button.outline{
    border: 2px solid floralwhite;
    background: none;
}


a.button {
    display: inline-block;
    text-decoration: none;
    color: white;
    line-height: 40px;
}

.button{
    font-weight: 700;
    height: 43px;
    padding: 0 40px;
    border-radius: 23px;
    border: 2px solid floralwhite;
    background: #171717;
    color: white;
    outline: 0;

}

.menu{
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 2;
}

.logo {
    position: relative;
    top: 25px;
    display: block;
    width: 108px;
    height: 27px;
    background-repeat: no-repeat;
    margin: auto;
    padding-top: 25px;
}


.section > div > div > div {
    transition: all 300ms ease-in-out;
}

.thim-n-dropdown {
    text-align: right;
}

.thim-n-dropdown > ul > li {
    position: relative;
}

.thim-n-dropdown ul li {
    list-style: none;
    display: inline-block;
}


.thim-n-dropdown ul li a {
    color: #fff;
    font-size: 13px;
    line-height: 49px;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    padding: 25px 30px;
    display: inline-block;
    text-align: center;
    width: 110px;
}

ul li a:hover{
     color: aqua;
}

